@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Datos del producto</h1>
Nombre del producto: @ViewBag.nombre <br/>
Precio: Bs. @ViewBag.precio <br/>
Está disponible: @ViewBag.disponible <br/>
Cantidad: @ViewBag.cantidad <br/>
Fecha de elaboración: @ViewBag.fecha_elab.ToString("dd/MM/yyyy")